@page 
@model Snackis.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
    <div class="col-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admins inspirations citat</h5>
                <p class="card-text">@Model.RandomQuote.Quote</p>
                <h6 class="card-subtitle mb-2 text-muted float-right">- @Model.RandomQuote.Author</h6>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-offset-1 center">
        <div class="card">
            <div class="card-header bg-secondary text-center">
                <div class="Titles">Kategorier</div>
            </div>
            <ul class="list-group text-center" style="list-style-type: none">
                @foreach (var item in Model.Category)
                {
                    <li><a class="subTitles" asp-page="/Posts/SubCategoryIndex" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CategoryName)</a></li>
                }
            </ul>
        </div>
    </div>
  </div>
</div>
