@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetsvillkor";
}
<h1>@ViewData["Title"]</h1>

<p>
    Som registrerad användare av Snackis behandlas dina personuppgifter i enlighet med dataskyddsförordningen.
    Detta innebär att vi bara kräver personuppgifter som är nödvändiga för att hemsidan ska fungera som tänkt.
    Obligatoriska personuppgifter vi lagrar när en användare registrerar sig på hemsidan är din mailadress.
    Genom att ha ett konto registrerat på Bodialog godkänner du att vi lagrar de personuppgifter du skriver in på ditt konto på hemsidan.
    Vi hämtar information om användare bara från det respektive användare har angett i sin profil.
    Du kan som registrerad användare när som helst begära information frånom vilken data som lagrats om dig under "Mitt konto".
    Du kan också som registrerad användare när som helst välja att ha dina personuppgifter raderade från hemsidan.
    Det här innebär att ditt konto destrueras och att du måste registrera ett nytt konto för att få använda hemsidans tjänster igen.
    Data som lagrats om dig lagras tills dess att du väljer att manuellt ta bort ditt konto från Snackis.
</p>
<br />
