@page
@model Snackis.Pages.Chat.DeleteMessageModel

@{
    ViewData["Title"] = "DeleteMessage";
}

<h1>Ta bort meddelande</h1>

<h3>Är du säker på att du vill ta bort detta meddelande?</h3>
<div>
    <h4>ChattMessage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Skickat
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChattMessage.SentTime)
        </dd>
        <dt class="col-sm-2">
            Meddelande
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChattMessage.Message)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ChattMessage.Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-page="Conversation" asp-route-id="@Model.ChattMessage.RecipientId">Tillbaka</a>
    </form>
</div>
