@page
@model Snackis.Pages.Posts.EditPostModel

@{
    ViewData["Title"] = "EditPost";
}

<h1>EditPost</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.Id" />
            <div class="form-group">
                <label asp-for="Post.SubCategoryId" class="control-label"></label>
                <input asp-for="Post.SubCategoryId" class="form-control" />
                <span asp-validation-for="Post.SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.CategoryId" class="control-label"></label>
                <input asp-for="Post.CategoryId" class="form-control" />
                <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.PostedOn" class="control-label"></label>
                <input asp-for="Post.PostedOn" class="form-control" />
                <span asp-validation-for="Post.PostedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.UserId" class="control-label"></label>
                <input asp-for="Post.UserId" class="form-control" />
                <span asp-validation-for="Post.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.UserName" class="control-label"></label>
                <input asp-for="Post.UserName" class="form-control" />
                <span asp-validation-for="Post.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.PostText" class="control-label"></label>
                <input asp-for="Post.PostText" class="form-control" />
                <span asp-validation-for="Post.PostText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.AnswerTo" class="control-label"></label>
                <input asp-for="Post.AnswerTo" class="form-control" />
                <span asp-validation-for="Post.AnswerTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
