@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrera dig";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Nytt konto</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">Mailadress</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Input.Avatar">Profilbild</label>
                <input type="file" id="Avatar" name="Avatar" accept=".jpg,.jpeg,.gif,.png" asp-for="Input.Avatar" class="form-control" />
                <span asp-validation-for="Input.Avatar" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Input.Password">Lösenord</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Upprepa lösenord</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-secondary">Registrera</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">     
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
