@page
@model Snackis.Pages.Admin.ContentManagement.CreateFromCatModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="text-right col-sm">
            <form method="post" runat="server">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SubCategory.SubCatName" class="control-label"></label>
                    <input asp-for="SubCategory.SubCatName" class="form-control" />
                    <span asp-validation-for="SubCategory.SubCatName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubCategory.CategoryID" class="control-label"></label>
                    <input runat="server" asp-for="SubCategory.CategoryID" Text="<%#Request.QueryString[id]%>"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" runat="server" />
                </div>
            </form>
             <div>
                <a asp-page="./Edit" asp-route-id="@Model.Category.Id">Edit</a>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}