@page
@model Snackis.Pages.Admin.ContentManagement.posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Hela inlägget</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Postat
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.PostedOn)
        </dd>
        <dt class="col-sm-2">
            Postat av
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.UserName)
        </dd>
        <dt class="col-sm-2">
            Ämne
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            Text i inlägg
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.PostText)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Tillbaka till listan</a>
</div>
